h1 {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

a {
    color: #0072CE;
}

.landing-page-header {
    height: 96px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 74px;
    text-align: right;

    /* Brand Blue */
    background: #1E3575;
    width: 100%;
    text-align: center;
}

.dte-wordmark {
    display: inline-block;
    margin: 0 auto;
}

.landing-page-hero {
    height: 330px;
    position: relative;
    margin-bottom: 25px;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.hero-h1 {
    position: absolute;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 74px;
    text-align: left;
    margin: 10% 0 0 15%;

}

body {
    font-family: "Open Sans";
}

.landing-page-program .landing-page-program-video video {
    width: 480px;
    height: 270px;
}

.insights-app .insights-app-video video {
    width: 100%;
    height: 100%;
}

.landing-page-program-video a {
    display: inline-block;
    position: relative;
}

.video {
    width: 100%;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
}
.playpause {
    background-image:url("resources/images/play-btn.png");
    background-repeat: no-repeat;
    width: 15%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 10%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.btn-primary {
    border-radius: unset;
    background-color: #0072CE;
}

.btn-primary:disabled {
    background-color: #0C2340;
    border-color: #0C2340;
}

.btn-primary:disabled:hover {
    background-color: #0C2340;
    border-color: #0C2340;
}

.btn.disabled {
    background-color: #0C2340;
    border-color: #0C2340;
}

.landing-page-program-text .program-title {
    font-weight: 600px;
    font-size: 30px;
    line-height: 41px;
    color: #2B2B2B;
}

.grey-title {
    font-size: 16px;
    line-height: 22px;

    /* Darkest Gray */

    color: #505357;
    mix-blend-mode: normal;
}

.container {
    margin-bottom: 30px;
}

.peak-hours-img {
    width: 240px;
    height: 220px;
}

.peak-hours-text-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 114.68%;
    /* or 30px */


    color: #664884;
}

.peak-hours-text {
    font-style: normal;
    font-size: 24px;
    line-height: 114.68%;
    color: #664884;
}

.peak-hours-list {
    padding-left: inherit;
}

.show-more,
.show-less {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue */

    color: #0072CE !important;

}

.lined-heading {
    padding: 0;
}

.lined-heading h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

    /* gray-3 */

    color: #73767B;
    /* White */

    border: 8px solid #FFFFFF;
}

.lined-heading h2:before,
.lined-heading h2:after {
    content: '';
    border-top: 2px solid;
    margin: 10px 20px 0 0;
    flex: 1 0 20px;
    border-collapse: #D9D9D9;
}

.lined-heading h2:after {
    margin: 10px 0 0 20px;
}

/* .show-more, .show-less 
    :after {
        display: block;
        content: ' ';
        background-image: url('resources/images/r-chev.svg');
        background-size: 28px 28px;
        height: 10px;
        width: 5px;
} */

.saving-tips .card-deck .card {
    min-height: 350px;
}

.FAQ-accordion .card-header {
    background-color: transparent;
}

.FAQ-accordion .header-active {
    background-color: #1E3575;
}

.FAQ-accordion .header-active .card-body {
    background-color: transparent;
}

.FAQ-accordion .card-header .btn-link {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Blue */

    color: #0072CE;
}

.FAQ-accordion .header-active .btn-link {
    color: white;
}

a:not([href]):not([tabindex]):hover {
    color: #0072CE;
}

.FAQ-accordion .card-header h2 {
    margin: -4px 0 4px 5px;
}

.FAQ-accordion .btn-link:hover {
    text-decoration: none;
}

.FAQ-accordion .header-active .btn-link:hover {
    color: white;
}

.more-info img {
    margin-bottom: 45px;
}

.more-info .row {
    margin-top: 30px;
}

.incentives .card-text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
}

.card {
    border-radius: unset;
}

.card-img {
    border-radius: unset;
}

#toggleButton {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #0072CE;
}

.more-info {
    margin-top: 30px;
}

.more-info .bold {
    font-weight: bold;
}

.show-more-text {
    margin-bottom: 45px;
}


.download-tips {
    color: #0072CE;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-right: 10px;
    margin: 4px 10px 0 0;
}

.download-tips-container {
    margin-top: 20px;
}

.download-tips-container .download-image {
    width: 25px;
    height: 30px;
    margin-right: 10px;
}

.chevron {
    width: 5px;
    height: 10px;
}

.download-tips-container .chevron {
    margin-top: 11px;
}

.show-more-container .chevron {
    margin-left: 4px;
}

.insights-app .card-text {
    font-size: 18px;
    line-height: 26px;
}

.insights-app .insight-app-title {
    font-size: 24px;
    font-weight: 500px;
    line-height: 30px;
    margin-bottom: 20px;

    /* Black */

    color: #2B2B2B;
}


.badges {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.landing-page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #1E3575;
    height: 200px;
}

.landing-page-footer a {
    color: white;
}

.landing-page-footer .footer-links {
    display: inline-block;
    margin: 50px auto;
}

.footer-links a {
    margin: 0 10px;
}

.copyright-container {
    display: block;
    margin: auto;
}

.copyright-container .copyright {
    font-weight: bold;
}

.contact {
    display: table;
    margin: 0 auto 25px auto;
}

.contact .contact-text {
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    /* Darkest Gray */
    color: #505357;
}

.btn-primary:hover {
    background: #1E3575;
}

.modal-content {
    background-color: transparent;
    border: none;
    border-radius: unset;
    left: 50%;
    transform: translate(-50%, 0);
}

.modal-header h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
}

.modal-body {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
}

.modal-backdrop {
    background-color: white;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.close {
    opacity: unset;
}

.form-control {
    border-radius: unset;
}

.modal-1 {
    width: 350px;
    height: 350px;
}

.modal-2 {
    width: 950px;
    height: 575px;
}

.modal-3 {
    width: 950px;
    height: 295px;
}

.modal-header {
    border-bottom: unset;
}

.forgot-pass {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
}

.terms-conditions-text {
    background: #F5F5F5;
    height: 215px;
    margin: 12px 0 30px 0;
}

.terms-conditions-text p {
    padding: 15px 15px 0 15px
}

.user {
    border: 1.5px solid #F5F5F5;
    margin: 0 115px 50px 115px;
}

.confirm-body {
    padding: 50px auto;
}

.user-text {
    margin: 25px auto 25px 25px;
}

.modal-2 .modal-body {
    padding-top: 40px;
    padding-bottom: 60px;
}

.shift-row {
    padding-bottom: 30px;
}

.confirm-text {
    padding: 12px 0;
}

.confirm-text p {
    font-size: 16px;
    line-height: 28px;
}

.accept {
    display: inline-flex;
    padding-top: 10px;
}

.accept input {
    margin: 15px 5px 5px 0;
}

.accept p {
    margin: 10px 0px;
}

.accept button {
    height: 45px;
}

.success-close {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding-bottom: 30px;
}

.success-close button {
    width: 280px;
    height: 45px;
}

.create-account {
    font-weight: 600;
}

.create-account-row img {
    padding-top: 2px;
    width: unset;
    height: unset;
}

.form-group input {
    font-size: 14px;
    line-height: 19px;
}

.accept {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The container */
.check-box-container {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #505357;
    display: block;
    position: relative;
    padding: 3px 8px 8px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.remember-me {
    margin-right: 5px;
}

/* Hide the browser's default checkbox */
.check-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.check-box-container:hover input~.checkmark {
    border: 1px solid #0072CE
}

/* When the checkbox is checked, add a blue background */
.check-box-container input:checked~.checkmark {
    background-color: #1E3575;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-box-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-box-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4.5px;
    height: 9.5px;
    border: solid white;
    border-width: 0 2.3px 2.3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.accept .check-box-container .checkmark {
    top: 0;
    left: 0;
    margin: 5px 5px 0 0;
}

.opt-out-text .card-text {
    font-size: 18px;
    line-height: 25px;
    color: #505357;
}

.opt-out .opt-out-button {
    margin: 30px;
    width: 300px;
}

.opt-out-incentives img {
    height: 240px;
}

.btn-outline-primary {
    border-radius: unset;
    color: #0072CE;
    border-color: #0072CE;
    margin-right: 20px;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1E3575;
    border-color: #1E3575;
}

.opt-out-confirm {
    display: block;
    margin-left: 20%;
    margin-right: auto;
}

.opt-out-confirm .btn-outline-primary:focus {
    box-shadow: unset;
}

.carousel-control img {
    width: 20px;
    height: 36px;
    opacity: 1;
}

.carousel-inner .card {
    width: auto;
    height: 375px;
    max-height: 375px;
}

.carousel .card h5 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.carousel-control-prev {
    width: auto;
    margin-left: -5%;
}

.carousel-control-next {
    width: auto;
    margin-right: -5%;
}

.carousel-inner .carousel-item {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;
}



/* Tablet and Desktop */
@media screen and (min-width:576px) {

    .check-box-text {
        margin: 10px;
    }

    .peak-hours-container {
        margin: 65px 0;
    }

    .FAQ-accordion .card-header {
        height: 50px;
    }

    .FAQ-accordion .card-header img {
        margin-bottom: 3px;
    }

    .opt-out-incentives .card-body {
        padding-top: 7%;
    }

    .opt-out .card {
        border-radius: unset;
        height: 130px;
        padding: 5px 30px;
    }
}

/* Desktop */

@media (min-width: 1170px) {

    .peak-hours-container {
        margin-left: -40px;
    }

    .incentives-text .card-body {
        margin-top: 3%;
    }

    .shift-row .chevron {
        margin-left: 8px;
        margin-top: 8px;
    }

    .landing-page-program-text {
        margin-left: -5%;
    }

}


/* Mobile */
@media screen and (max-width:576px) {

    .playpause {
        width: 25%;
        right: 0%;
    }

    .badges {
        display: inline-flex;
        margin: -5%;
    }

    .peak-hours-text-bold {
        margin-bottom: .5rem;
    }

    .lined-heading h2::before {
        content: none;
    }

    .lined-heading h2::after {
        content: none;
    }

    .landing-page-hero {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 34.37% 0 0 0;
    }

    .hero-img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .landing-page-program-text {
        margin-bottom: 30px;
    }

    .hero-container {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .landing-page-hero .hero-h1 {
        font-size: 20px;
        left: 0;
        top: 0;
        line-height: 27px;
        text-align: left;
        position: relative;
        margin: 35px 30% 10px 8%;
    }

    .landing-page-program .program-title {
        font-size: 25px;
        line-height: 34px;
    }

    .landing-page-program p {
        font-size: 16px;
        line-height: 22px;
    }

    .landing-page-program .landing-page-program-video video {
        width: 100%;
        height: 100%;
    }

    .landing-page-program-video {
        order: 2;
        padding: 0;
    }

    .peak-hours-img {
        margin: 0 65px;
    }

    .peak-hours-container {
        margin-top: 25px;
    }

    .incentives .card {
        border: none;
    }

    .insights-app .card {
        border: none;
    }

    .incentives .incentives-text .card-body {
        padding: 1.25rem 0;
    }

    .insights-container {
        padding: 0;
    }

    .no-gutters .incentives-text {
        order: 2;
    }

    .summer-mobile {
        margin: auto;
        display: block;
    }

    .non-summer-mobile {
        margin: auto;
        display: block;
    }

    .modal-2 {
        width: auto;
        height: auto;
    }

    .modal-2 .modal-body {
        padding: unset;
    }

    .modal-2 .modal-body .user {
        margin: 15px 0 30px 0;
    }

    .opt-out-confirm {
        margin-left: 0;
    }

    .opt-out-confirm button {
        margin-bottom: 10px;
    }

    .shift-row {
        display: inline-block;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .modal-3 {
        width: auto;
        height: auto;
    }

    .download-tips-container {
        width: 55%;
        margin: 0 auto;
    }

    .FAQ-accordion .btn-link {
        text-align: left;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    .carousel,
    .carousel-inner,
    .carousel-inner>.item {
        overflow: hidden;
    }

    .carousel-inner:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 62%;
        left: 0;
        content: "";
        display: block;
        z-index: 2;
    }

    .carousel-inner:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 72%;
        content: "";
        display: block;
        z-index: 2;
    }

}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
        margin-right: initial;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
